[submodule ".hyprland"]
	path = hyprland
	url = ../../dablenparty/.hyprland.git
[submodule ".neovim"]
	path = neovim
	url = ../../dablenparty/.neovim.git
[submodule ".portainer"]
	path = portainer
	url = ../../dablenparty/.portainer.git
