[submodule ".hyprland"]
	path = hyprland
	url = https://github.com/dablenparty/.hyprland.git
[submodule ".neovim"]
	path = neovim
	url = https://github.com/dablenparty/.neovim.git
[submodule ".portainer"]
	path = portainer
	url = https://github.com/dablenparty/.portainer.git
