[submodule ".hyprland"]
	path = hyprland
	url = ../../dablenparty/.hyprland.git
[submodule ".neovim"]
	path = neovim
	url = ../../dablenparty/.neovim.git
[submodule ".homelab"]
	path = homelab
	url = ../../dablenparty/.homelab.git
