PackageConfig(
    target: "~/.local/share/rofi",
    ignore_pats: [
        "\\.unboxrc(\\.ron)?$",
        "^\\.git.*$",
        "^(README|LICEN[CS]E|COPYING).*$",
    ],
    link_root: false,
    use_relative_links: false,
)