PackageConfig(
    target: "${XDG_CONFIG_HOME:-~/.config}/lazygit",
    ignore_pats: [
        "\\.unboxrc.*$",
        "^\\.git.*$",
        "^(README|LICEN[CS]E|COPYING).*$",
    ],
    link_root: false,
    use_relative_links: false,
)
