console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[palette]
  blue = '#5faae8'
  red = '#d0666f'

[secondary_prompt]
  template = '❯❯ '
  foreground = 'magenta'
  background = 'transparent'

[transient_prompt]
  template = '❯ '
  background = 'transparent'
  foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '{{ if .SSHSession }}{{ .UserName }}@{{ .HostName }}{{ end }} '
    foreground = 'p:red'
    background = 'transparent'
    type = 'session'
    style = 'plain'

  [[blocks.segments]]
    template = '{{ .Path }}'
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.options]
      folder_icon = '..'
      style = 'agnoster_short'

  [[blocks.segments]]
    template = ' on <p:red>{{ .HEAD }}</><p:blue>{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }}</> <cyan>{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</>'
    foreground = 'cyan'
    background = 'transparent'
    type = 'git'
    style = 'plain'

    [blocks.segments.options]
      branch_icon = ' '
      commit_icon = '@'
      fetch_status = true

[[blocks]]
  type = 'prompt'
  alignment = 'right'
  overflow = 'hide'

  [[blocks.segments]]
    template = '{{ if .Error }}{{ .Error }}{{ else }}󰌠 {{ .Full }}{{ end }} <p:blue>({{ if .Venv }}{{ .Venv }}{{ end }})</>'
    foreground = 'yellow'
    type = 'python'
    style = 'plain'

  [[blocks.segments]]
    template = '{{ if .Error }}<p:red>{{ .Error }}</>{{ else }} {{ .Full }}{{ end }}'
    foreground = 'p:blue'
    type = 'dart'
    style = 'plain'

  [[blocks.segments]]
    template = '  {{ .Full }} '
    foreground = '#e43716'
    type = 'rust'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']
